{% set vmwaretools  = salt['grains.filter_by']( {
  'Debian': {
    'dependencies': ['perl'], ['build-essential'],
  },
  'RedHat': {
    'dependencies': ['perl'],
  },
}, merge=salt['pillar.get']('vmwaretools:lookup')) %}
